$background: #082068;
$break: 700px;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    #test {
        position: absolute;
        right: 0;
        top: 0;
        width: 200px;
        height: 100px;
        background-color: black;
        z-index: 100;
        cursor: pointer;
        display: none;
    }  
    #mapContainer {
    height: 100%;
    width: 75vw;
    margin-left: 25vw;
    position: relative;
    background-color: $background; 
    @media screen and (max-width: $break){
        width: 100vw;
        margin-left:0;
    }
    .markers {
        cursor: pointer;
    }
}
}
