<div class="side-panel">
    <div class="filter-container">
        <div class="filter-wrap">
            <input type="text" id="filter-box" data-bind="textInput: filterInput">
            <div id="search">Filter</div>
        </div>
    </div>
    <div class="list-container">
        <ul data-bind="foreach: markers, visible: markers().length>0">
            <li data-bind="css: className, visible: isVisible(), event: {mouseover: $parent.showCloseButton, mouseout: $parent.hideCloseButton}, click: $parent.showDetail">
                <span data-bind="text: name"></span>
                <span data-bind="visible: closeButtonEnabled, click: $parent.hideMarker, clickBubble: false" class="small material-icons click-to-hide-marker">close</span>
            </li>
        </ul>
        <div class="side-panel-bottom-placeholder">&nbsp;</div>
    </div>
</div>
